.name{
    margin-left: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#home{
    margin-left: 120px;
    text-decoration: none;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    

}
.services{
    margin-left: 20px;
    text-decoration: none;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
a:hover{
    color: gray;
}
#search{
    margin-left: 80px;
    
}
#cart{
    margin-left: 300px;
}
.mail{
 text-decoration: none;
 color: black;
 margin-left: -10px;
}
#main{
    background-image: url(image/Untitled\ Project.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 820px;
    width: 100%;

}
.text{
    margin-top: 120px;
    font-size: 55px;
}
.text2{
    float: right;
   
    margin-right: 150px;
    margin-top: 140px;

}
.text3{
    float: right;
    margin-top: 240px;
    
} 
.checked{
    color: orange;
}

